<!-- ************************************************************
//
//  cookie policy
//
// ************************************************************ -->
<div class="cookie">
  <div class="cookie-inner">
    <p class="cookie-text">このウェブサイトはあなたのコンピュータにクッキーを保存します。これらのCookieは、お客様が当社のWebサイトとどのようにやり取りするかに関する情報を収集し、お客様の記憶に残すために使用されます。私達はあなたのブラウジング体験を改善しそしてカスタマイズするためにそしてこのウェブサイトと他のメディアの両方で私達の訪問者についての分析と測定基準のためにこの情報を使います。私たちが使用しているクッキーの詳細については、当社のプライバ シーポリシーをご覧ください。<br>辞退した場合、このウェブサイトにアクセスしてもあなたの情報は追跡されません。追跡されないように設定を記憶しておくために、ブラウザで単一の Cookieが使用されます。</p>
    <div class="cookie-btn-area">
      <a href="/" class="btn btn-primary">
        <div class="bg"></div>
        <p>同意する</p>
      </a>
      <a href="/" class="btn btn-secondary">
        <div class="bg"></div>
        <p>同意しない</p>
      </a>
    </div>
  </div>
</div>


