<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer class="footer">
  <div class="display pc footer-contents">
    <div class="footer-inner">
      <div class="footer-block">
        <p class="footer-logo">
          <a href="" class="footer-logo-link">
            <img src="/assets/img/common/logo_blue.png" alt="Pactera" class="footer-logo-img">
          </a>
        </p>
        <small class="footer-copyright">&copy; 2020 Pactera. All Rights Reserved. </small>
      </div>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="" class="footer-link">パクテラのバリュー</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">ソリューション</a>
          <a href="" class="footer-link is-sub">事業開発</a>
          <a href="" class="footer-link is-sub">事業支援</a>
          <a href="" class="footer-link is-sub">システム開発</a>
          <a href="" class="footer-link is-sub">開発支援</a>
          <a href="" class="footer-link is-sub">AI・IoT</a>
          <a href="" class="footer-link is-sub">自社パッケージ</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">インダストリー</a>
          <a href="" class="footer-link is-sub">保険</a>
          <a href="" class="footer-link is-sub">証券</a>
          <a href="" class="footer-link is-sub">銀行・リース</a>
          <a href="" class="footer-link is-sub">エレクトロニクス</a>
          <a href="" class="footer-link is-sub">自動車</a>
          <a href="" class="footer-link is-sub">医療機器</a>
          <a href="" class="footer-link is-sub">小売・流通</a>
          <a href="" class="footer-link is-sub">通信</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">会社情報</a>
          <a href="" class="footer-link is-sub">会社概要</a>
          <a href="" class="footer-link is-sub">グローバル拠点</a>
          <a href="" class="footer-link is-sub">沿革</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">ニュース</a>
          <a href="" class="footer-link">ケーススタディ</a>
          <a href="" class="footer-link">パートナー</a>
          <a href="" class="footer-link">お問い合わせ</a>
          <a href="" class="footer-link">採用情報</a>
          <a href="" class="footer-link">プライバシーポリシー</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="display sp footer-contents">
    <div class="footer-inner">
      <ul class="footer-list">
        <li class="footer-item">
          <a href="" class="footer-link">お問い合わせ</a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">プライバシーポリシー</a>
        </li>
      </ul>
      <small class="footer-copyright">&copy; 2020 Pactera. All Rights Reserved. </small>
    </div>
  </div>
</footer>




