<!-- ************************************************************
//  index-contact
// ************************************************************ -->
<div class="section index-contact">
  <div class="section-head is-center">
    <p class="section-head-lead">Contact</p>
    <h2 class="section-head-title">お問い合わせ</h2>
  </div>
  <p class="index-contact-text">お問い合わせに誘導するためのテキストが入ります。お問い合わせに誘導するためのテキストが入ります。お問い合わせに誘導するためのテキストが入ります。お問い合わせに誘導するためのテキストが入ります。</p>
  <div class="btn-block">
    <a href="" class="btn btn-primary">
      <div class="bg"></div>
      <p>お問い合わせはこちら</p>
    </a>
  </div>
</div>
