/* --------------------------------------------------------------------------------
*
*   button
*
-------------------------------------------------------------------------------- */

.btn-block {
  .btn-primary,
  .btn-secondary {
    display: block;
    position: relative;

    &:hover {
      &:after {
        transform: translateX(4px) rotateX(-180deg);
        transition: transform 500ms $easeOutCubic;
      }
    }
  }

  .btn-primary {
    width: 100%;
    height: 72px;

    @media only screen and (max-width: $bp01) {
      height: 48px;
    }

    .bg {
      width: 100%;
      height: 100%;
      background: $blue;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    p {
      @include font-en;
      color: $white;
      font-size: 1.6rem;
      line-height: 72px;
      letter-spacing: 0.05em;
      padding-left: 28px;
      position: relative;
      z-index: 1;
      top: -0.5px;

      @media only screen and (max-width: $bp01) {
        font-size: 1.2rem;
        line-height: 48px;
        padding-left: 20px;
      }
    }

    &:after {
      content: '';
      width: 20px;
      height: 7px;
      background: url('/assets/img/common/icon_link_wht.svg') no-repeat center center;
      background-size: cover;
      position: absolute;
      top: calc(50% - 4.5px);
      right: 28px;
      transition: transform 500ms $easeOutCubic;

      @media only screen and (max-width: $bp01) {
        width: 15px;
        height: 6px;
        top: calc(50% - 3px);
        right: 20px
      }
    }

    &.is-blank {
      &:after {
        width: 15px;
        height: 11px;
        background: url('/assets/img/common/icon_blank_wht.svg') no-repeat center center;
        background-size: cover;
        top: calc(50% - 5.5px);

        @media only screen and (max-width: $bp01) {
          width: 11px;
          height: 8px;
          top: calc(50% - 5px);
          right: 20px
        }
      }
    }

    &.wht {
      .bg {
        background: $white;
      }

      p {
        color: $blue;
      }

      &:after {
        background: url('/assets/img/common/icon_link.svg') no-repeat center center;
        background-size: cover;
      }

      &.is-blank {
        &:after {
          background: url('/assets/img/common/icon_blank.svg') no-repeat center center;
          background-size: cover;
        }
      }
    }
  }

  .btn-secondary {
    padding-right: 56px;

    @media only screen and (max-width: $bp01) {
      padding-right: 40px;
    }

    p {
      @include font-en;
      color: $blue;
      font-size: 1.6rem;
      letter-spacing: 0.05em;
      position: relative;
      z-index: 1;
      top: -0.5px;

      @media only screen and (max-width: $bp01) {
        font-size: 1.2rem;
      }
    }

    &:after {
      content: '';
      width: 20px;
      height: 7px;
      background: url('/assets/img/common/icon_link.svg') no-repeat center center;
      background-size: cover;
      position: absolute;
      top: calc(50% - 4.5px);
      right: 0;
      transition: transform 500ms $easeOutCubic;

      @media only screen and (max-width: $bp01) {
        height: 15px;
        height: 6px;
        top: calc(50% - 3px);
      }
    }

    &.wht {
      p {
        color: $white;
      }

      &:after {
        background: url('/assets/img/common/icon_link_wht.svg') no-repeat center center;
        background-size: cover;
      }
    }
  }
}

/* --------------------------------------------------------------------------------
*
*   title
*
-------------------------------------------------------------------------------- */
.section-head-title-en {
  @include font-en;
  color: $blue;
  font-size: 2rem;
  letter-spacing: 0.05em;
  padding-left: 56px;
  position: relative;

  @media only screen and (max-width: $bp01) {
    font-size: 1.2rem;
    padding-left: 28px;
  }

  &:before {
    content: '';
    width: 40px;
    height: 1px;
    background: $blue;
    position: absolute;
    top: 14px;
    left: 0;

    @media only screen and (max-width: $bp01) {
      width: 20px;
      top: 8px;
    }
  }

  &.wht{
    color: $white;

    &:before{
      background: $white;
    }
  }
}

/* --------------------------------------------------------------------------------
*
*   category
*
-------------------------------------------------------------------------------- */
.category {
  color: $blue;
  font-size: 1.1rem;
  font-feature-settings: 'palt';
  letter-spacing: 0.05em;
  line-height: 1;
  display: inline-block;
  border: solid 1px $blue;
  border-radius: 3px;
  padding: 2px 3px;

  &.wht {
    color: $white;
    border-color: $white;
  }

  @media only screen and (max-width: $bp01) {
    font-size: 0.93rem;
  }
}

/* --------------------------------------------------------------------------------
*
*   bar
*
-------------------------------------------------------------------------------- */
.left_bar {
}
.left_bar:after {
  display: block;
  width: rem(7, $fz);
  height: rem(35, $fz);
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  top: rem(-6, $fz);
}

.up_bar {
}
.up_bar:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: rem(10, $fz);
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  transition: height 0.18s $easeOutCubic, background-color 0.2s $easeOutQuad;
}

/* --------------------------------------------------------------------------------
*
*   select
*
-------------------------------------------------------------------------------- */
body.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

/* --------------------------------------------------------------------------------
*
*   grab
*
-------------------------------------------------------------------------------- */
.grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

//parallax

.parallax {
  overflow: hidden;
  padding-top: (526 / 1040) * 100%;
  position: relative;
  height: 0;
  .parallax-inner {
    height: calc(100% + 2 * 40px);
    height: calc(100% + 2 * var(--max));
    top: -40px;
    top: calc(var(--max) * -1);
    width: 100%;
    position: absolute;
    left: 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

/* --------------------------------------------------------------------------------
*
*   cookie
*
-------------------------------------------------------------------------------- */
.cookie {
  background-color: rgba(0, 3, 47, 0.9);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;

  // display: none;
}

.cookie-inner {
  max-width: 1120px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp01) {
    display: block;
    padding: 20px 0 30px;
  }
}

.cookie-text {
  font-size: 1.42rem;
  color: #fff;
  flex: 1 1 auto;
  line-height: 1.2;

  @media only screen and (max-width: $bp01) {
    font-size: 1rem;
    padding: 0 20px;
  }
}

.cookie-btn-area {
  flex: 0 0 141px;
  margin-left: 40px;

  @media only screen and (max-width: $bp01) {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-top: 20px;
    padding: 0 20px;
  }

  .btn {
    width: 100%;
    max-width: 141px;
    height: 34px;
    font-size: 1.42rem;
    margin-bottom: 10px;
    color: $white;
    text-align: center;
    line-height: 34px;
    display: block;
    position: relative;

    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &.btn-primary {
      margin-bottom: 8px;
      .bg {
        background: $blue;
      }
    }

    &.btn-secondary {
      .bg {
        background: #2e2f30;
      }
    }

    @media only screen and (max-width: $bp01) {
      flex: 0 0 91px;
      width: 91px;
      height: 24px;
      margin: 0 5px;
      font-size: 1.12rem;
      line-height: 24px;
    }
  }
}

.section {
  position: relative;
  z-index: 2;
}

/* --------------------------------------------------------------------------------
*
*   parallax
*
-------------------------------------------------------------------------------- */
.parallaxOh {
  overflow: hidden;
}

canvas {
  opacity: 0;
}
