<!-- ************************************************************
//
//  footer
//
// ************************************************************ -->
<footer class="footer">
  <div class="display pc footer-contents">
    <div class="footer-inner">
      <div class="footer-block">
        <p class="footer-logo">
          <a href="" class="footer-logo-link">
            <img src="/assets/img/common/logo_blue.png" alt="Pactera" class="footer-logo-img">
          </a>
        </p>
      </div>
      <ul class="footer-list">
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>パクテラのバリュー</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>ソリューション</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>事業開発</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>事業支援</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>システム開発</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>開発支援</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>AI・IoT</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>自社パッケージ</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>インダストリー</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>保険</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>証券</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>銀行・リース</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>エレクトロニクス</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>自動車</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>医療機器</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>小売・流通</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>通信</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>会社情報</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>会社概要</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>グローバル拠点</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link is-sub">
            <div class="inner">
              <p>沿革</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>ニュース</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link">
            <div class="inner">
              <p>ケーススタディ</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link">
            <div class="inner">
              <p>パートナー</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link">
            <div class="inner">
              <p>お問い合わせ</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link">
            <div class="inner">
              <p>採用情報</p>
              <div class="bar"></div>
            </div>
          </a>
          <a href="" class="footer-link">
            <div class="inner">
              <p>プライバシーポリシー</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
      </ul>
      <small class="footer-copyright">&copy; 2020 Pactera. All Rights Reserved. </small>
    </div>
  </div>
  <div class="display sp footer-contents">
    <div class="footer-inner">
      <ul class="footer-list">
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>お問い合わせ</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
        <li class="footer-item">
          <a href="" class="footer-link">
            <div class="inner">
              <p>プライバシーポリシー</p>
              <div class="bar"></div>
            </div>
          </a>
        </li>
      </ul>
      <small class="footer-copyright">&copy; 2020 Pactera. All Rights Reserved. </small>
    </div>
  </div>
</footer>
