/* --------------------------------------------------------------------------------
*
*   html,body
*
-------------------------------------------------------------------------------- */

html,
body {
}

html {
  // baseフォント
  color: $font-color;
  font-size: $fz + px;
  font-family: $font;
  font-weight: $fw;

  letter-spacing: $ls;

  // 背景
  background-color: $bg-color;
  // background: url(../resource/svg/common/bg.svg) no-repeat;
  // background-size: cover;
  // background-position: center center;

  // sp対策
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  @if $visible == true {
    opacity: 1;
  } @else {
    opacity: 0;
  }

  @if $sp_select == true {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @if $hidden == true {
    overflow: hidden;
  }

  // other
  // backface-visibility: hidden; //CSS 3D Transformsによる3次元の裏側を描画するかしないか　visible or hidden
  -webkit-font-smoothing: antialiased; //太く、細く
  // text-rendering: auto; // web fontカーニング指定
  // -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

/* --------------------------------------------------------------------------------
*
*   #wrapper #inner
*
-------------------------------------------------------------------------------- */
#wrapper {
  // background: url(/assets/img/common/bg_pattern_line02.png) repeat center top #000657;
}

#inner {
  // background: url(/assets/img/common/bg_flag.png) no-repeat center center;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
  @media only screen and (max-width: $bp01) {
    background-size: 105% auto;
  }
}

.isDeviceSP #wrapper {
}

/* --------------------------------------------------------------------------------
*
*   .wrapper .inner
*
-------------------------------------------------------------------------------- */
.wrapper {
}
