@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   index-kv
*
-------------------------------------------------------------------------------- */
.index-kv {
  height: 100vh;
  height: var(--h);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media only screen and (max-width: $bp01) {
    align-items: flex-end;
  }
}

.index-kv-inner {
  flex: 1 1 auto;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;

  @media only screen and (max-width: $bp01) {
    padding-left: 20px;
    padding-bottom: 156px * 0.5;
  }
}

.index-kv-lead {
  color: #fff;
  font-size: 1.83rem;
  letter-spacing: 0.3em;

  opacity: 0;

  @media only screen and (max-width: $bp01) {
    font-size: 1.4rem;
  }
}

.index-kv-title {
  color: #fff;
  font-size: 8.6rem;
  line-height: 1.1;
  margin-bottom: 36px;

  opacity: 0;

  @media only screen and (max-width: $bp01) {
    font-size: 3.85rem;
  }
}

// line
.index-kv-inner.line {
  position: absolute;
  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: -2px;
  margin-left: -1px;
  @media only screen and (max-width: $bp01) {
    width: calc(100% - 40px);
  }

  .index-kv-title {
    -webkit-text-stroke: 1px #fff;
    color: rgba(255, 255, 255, 0);
  }

  .index-kv-title {
    -webkit-text-stroke: 1px #fff;
    color: rgba(255, 255, 255, 0);
  }
}

.index-kv-title-img {
  @media only screen and (max-width: $bp01) {
    width: 95%;
  }
}

.index-kv-news {
  .index-kv-news-inner {
    display: flex;
    align-items: center;
    width: 75%;
    background: $bg-color;
    margin-left: 25%;
    padding: 24px 0 16px;
    box-sizing: border-box;
    position: relative;

    @media only screen and (max-width: $bp01) {
      display: block;
      width: calc(100% - 20px);
      margin-left: 20px;
      padding: 20px 20px 0;
    }

    .index-kv-news-link {
      width: calc(100% - 240px);
      padding: 0 40px;
      display: flex;
      box-sizing: border-box;
      transition: opacity 250ms $easeOutCubic;

      @media only screen and (max-width: $bp01) {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: 0;
      }

      .index-kv-news-date {
        @include font-en;
        color: $blue;
        font-size: 1.4rem;
        margin-right: 32px;

        @media only screen and (max-width: $bp01) {
          font-size: 1.2rem;
          margin: 0 0 16px 0;
        }
      }

      .index-kv-news-text {
        font-size: 1.4rem;
        line-height: 1.5;
        margin: -3.5px 0;

        @media only screen and (max-width: $bp01) {
          font-size: 1.2rem;
          margin: -3px 0;
        }
      }

      &:hover{
        opacity: 0.5;
        transition: opacity 250ms $easeOutCubic;
      }
    }

    .btn-block {
      width: 200px;

      @media only screen and (max-width: $bp01) {
        width: 75%;
        margin-left: 25%;
      }

      .btn-primary {
        height: 48px;

        p{
          font-size: 1.4rem;
          line-height: 48px;
          padding-left: 20px;

          @media only screen and (max-width: $bp01) {
            font-size: 1.2rem;
          }
        }

        &:after {
          right: 20px;
        }
      }
    }
  }
}