@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   index-contact
*
-------------------------------------------------------------------------------- */
.index-contact {
  margin-bottom: 300px;

  @media only screen and (max-width: $bp01) {
    margin-bottom: 95px;
  }
}

.index-contact-text {
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.75;

  @media only screen and (max-width: $bp01) {
    font-size: 1.4rem;
    padding: 0 20px;
    text-align: left;
  }
}
