@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   index-about
*
-------------------------------------------------------------------------------- */
.index-about {
  background: $bg-color;
  margin-bottom: 96px;

  @media only screen and (max-width: $bp01) {
    margin-bottom: 60px;
  }

  .index-about-inner{
    max-width: 1120px;
    margin: 0 auto;
    padding: 120px 20px 0;

    @media only screen and (max-width: $bp01) {
      padding-top: 60px;
    }

    .section-head-title-en {
      margin-bottom: 80px;

      @media only screen and (max-width: $bp01) {
        margin-bottom: 40px;
      }
    }

    .index-about-head{
      margin-bottom: 96px;
      mix-blend-mode: multiply;

      @media only screen and (max-width: $bp01) {
        margin-bottom: 44px;
      }

      .index-about-img {
        width: calc(100% + (100vw - 100%) / 2);
        height: 480px;

        @media only screen and (max-width: $bp01) {
          width: calc(100% + 20px);
          height: 225px;
        }

        .index-about-img-inner {
          width: 100%;
          height: 100*1.2%;
          background: url("/assets/img/index/img_about_pc.jpg") no-repeat right top;
          background-size: cover;
          position: relative;
          top: -10%;

          @media only screen and (max-width: $bp01) {
            height: 100*1.5%;
            background: url("/assets/img/index/img_about_sp.jpg") no-repeat right top;
            top: -25%;
          }
        }
      }

      .index-about-lead {
        font-size: 4.8rem;
        font-weight: normal;
        font-feature-settings: 'palt';
        line-height: 1.5;
        letter-spacing: 0.1em;
        background: $white;
        width: 75%;
        height: 244px;
        margin-top: -244px;
        padding-top: 108px;
        box-sizing: border-box;
        position: relative;
        mix-blend-mode: screen;

        @media only screen and (max-width: $bp01) {
          font-size: 2.4rem;
          width: calc(100% - 20px);
          height: 132px;
          margin-top: -132px;
          padding-top: 30px;
        }

        &:before {
          content: '';
          background: $white;
          width: 112px;
          height: 236px;
          position: absolute;
          top: -236px;
          left: 0;

          @media only screen and (max-width: $bp01) {
            width: 20px;
            height: 112px;
            top: -112px;
          }
        }
      }
    }

    .index-about-body {
      display: flex;
      position: relative;

      @media only screen and (max-width: $bp01) {
        display: block;
      }

      .index-about-texts {
        width: 75%;

        @media only screen and (max-width: $bp01) {
          width: 100%;
          margin-bottom: 40px;
        }

        .index-about-text {
          font-size: 1.6rem;
          line-height: 2.5;
          margin: -12px 0;

          @media only screen and (max-width: $bp01) {
            font-size: 1.2rem;
            line-height: 2;
            margin: -6px 0;

            br {
              display: none;
            }
          }

          &+.index-about-text {
            margin-top: 64-12px;

            @media only screen and (max-width: $bp01) {
              margin-top: 32-6px;
            }
          }
        }
      }

      .btn-block {
        width: 25%;

        @media only screen and (max-width: $bp01) {
          width: 75%;
          margin-left: 25%;
        }
      }

      .index-about-bg-en {
        width: 100vw;
        position: absolute;
        top: 50%;
        left: calc((100vw - 100%) / -2);
        z-index: -1;
        transform: translate(0,-50%);

        @media only screen and (max-width: $bp01) {
          overflow-x: hidden;
          left: -20px;
        }

        .index-about-bg-en-inner {
          width: 1611*2px;
          height: 246px;
          background: url('/assets/img/index/bg_about.svg') repeat-x center left;
          animation: bg-en-marquee 30000ms linear infinite;

          @media only screen and (max-width: $bp01) {
            width: 805.5*2px;
            height: 123px;
            background-size: 805.5px 123px;
          }
        }
      }
    }
  }
}
