@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   index-kv
*
-------------------------------------------------------------------------------- */
.index-kv {
  height: 100vh;
  height: var(--h);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @media only screen and (max-width: $bp01) {
    align-items: flex-end;
  }
}

.index-kv-inner {
  flex: 1 1 auto;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;

  @media only screen and (max-width: $bp01) {
    padding-left: 20px;
    padding-bottom: 156px * 0.5;
  }
}

.index-kv-lead {
  color: #fff;
  font-size: 1.83rem;
  letter-spacing: 0.3em;

  opacity: 0;

  @media only screen and (max-width: $bp01) {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
}

.index-kv-title {
  color: #fff;
  font-size: 8.6rem;
  line-height: 1.1;

  opacity: 0;

  @media only screen and (max-width: $bp01) {
    font-size: 3.85rem;
  }
}

// line
.index-kv-inner.line {
  position: absolute;
  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);
  @media only screen and (max-width: $bp01) {
    width: calc(100% - 40px);
  }

  .index-kv-title {
    -webkit-text-stroke: 1px #fff;
    color: rgba(255, 255, 255, 0);
  }

  .index-kv-title {
    -webkit-text-stroke: 1px #fff;
    color: rgba(255, 255, 255, 0);
  }
}

.index-kv-title-img {
  @media only screen and (max-width: $bp01) {
    width: 95%;
  }
}

.scroll-btn {
  width: 1px;
  height: 60px;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding: 0 20px;
  cursor: pointer;
  margin-top: -25px;
  @media only screen and (min-width: $bp01 + 1px) {
    display: none;
  }
  .bar {
    width: 1px;
    height: 100%;
    background: #eeeff2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    transform: translateY(-110%);
  }
  .bar2 {
    width: 1px;
    height: 100%;
    background: rgba(238, 239, 242, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    transform: translateY(-110%);
  }
}
