@charset "utf-8";

/* --------------------------------------------------------------------------------
*
*   index-casestudy
*
-------------------------------------------------------------------------------- */
.index-casestudy {
  margin-bottom: 196px;

  @media only screen and (max-width: $bp01) {
    margin-bottom: 60px;
  }

  .index-casestudy-inner {
    max-width: 1120px;
    margin: 0 auto 64px;
    padding: 0 20px;

    @media only screen and (max-width: $bp01) {
      margin-bottom: 32px;
    }

    .index-casestudy-head {
      display: flex;
      justify-content: space-between;
    }
  }

  .index-casestudy-container {
    .index-casestudy-wrapper {
      max-width: 1120px;
      margin: 0 auto;
      padding: 0 20px;

      @media only screen and (max-width: $bp01) {
        width: calc(100vw - 40px);
      }

      .index-casestudy-slide {
        width: calc(100% / 3);

        @media only screen and (max-width: $bp01) {
          width: calc(100% / 2);
        }

        .index-casestudy-link {
          display: block;

          .index-casestudy-img {
            margin-bottom: 28px;
            overflow: hidden;

            @media only screen and (max-width: $bp01) {
              margin-bottom: 12px;
            }

            .index-casestudy-img-item {
              width: 100%;
              transition: transform 1000ms $easeOutCubic;
            }
          }

          .index-casestudy-title {
            font-size: 1.4rem;
            font-feature-settings: 'palt';
            letter-spacing: 0.05em;
            line-height: 1.5;
            margin: -4px 0 24-4px;

            @media only screen and (max-width: $bp01) {
              font-size: 1.2rem;
              margin: -3px 0 12-3px;
            }
          }

          &:hover {
            .index-casestudy-img {
              .index-casestudy-img-item {
                transform: scale(1.1);
                transition: transform 500ms $easeOutCubic;
              }
            }
          }
        }
      }
    }

    .index-casestudy-button {
      .index-casestudy-button-next,
      .index-casestudy-button-prev {
        width: 48px;
        height: 48px;
        background: $white url('/assets/img/common/icon_link.svg') no-repeat 60% center;

        @media only screen and (max-width: $bp01) {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .index-casestudy-button-next {
        right: 0px;
      }

      .index-casestudy-button-prev {
        left: 0px;
        transform: rotateY(-180deg);
      }

    }
  }
}
