/* --------------------------------------------------------------------------------
*
*   footer
*
-------------------------------------------------------------------------------- */
.footer {
  background: $bg-color;
  position: relative;
  z-index: 99;

  .footer-inner {
    max-width: 1120px;
    margin: 0 auto;
    padding: 96px 20px 120px;

    @media only screen and (max-width: $bp01) {
      padding: 32px 20px 48-40px;
    }

    .footer-head {
      margin-bottom: 96px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (max-width: $bp01) {
        display: block;
        margin-bottom: 40px;
      }

      .footer-logo {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $bp01) {
          margin-bottom: 28px;
        }

        .footer-logo-link {
          margin-right: 32px;
          display: block;

          @media only screen and (max-width: $bp01) {
            margin-right: 16px;
          }

          .footer-logo-img {
            width: 146px;

            @media only screen and (max-width: $bp01) {
              width: 73px;
            }
          }
        }

        .footer-copyright {
          @include font-en;
          opacity: 0.5;
          letter-spacing: 0.05em;
        }
      }

      .footer-head-inner {
        display: flex;

        @media only screen and (max-width: $bp01) {
          display: block;
        }

        .footer-mailmagazine {
          display: flex;
          align-items: center;
          margin-right: 40px;

          @media only screen and (max-width: $bp01) {
            justify-content: space-between;
            margin: 0 0 24px 0;
          }

          .footer-mailmagazine-label {
            color: $blue;
            font-size: 1.3rem;
            font-feature-settings: 'palt';
            letter-spacing: 0.05em;
            margin-right: 24px;

            @media only screen and (max-width: $bp01) {
              width: calc(10em + 12px);
              font-size: 1.0rem;
              margin-right: 12px;
            }
          }

          .footer-mailmagazine-input {
            display: flex;

            @media only screen and (max-width: $bp01) {
              width: calc(100% - 10em - 12px)
            }

            .footer-mailmagazine-text {
              @include font-en;
              color: $black;
              font-size: 1.4rem;
              letter-spacing: 0.05em;
              width: 260px;
              height: 48px;
              background: $white;
              border-radius: 0;
              padding-left: 20px;
              box-sizing: border-box;

              &::placeholder {
                color: rgba(0,0,0,0.5);
              }

              @media only screen and (max-width: $bp01) {
                font-size: 1.0rem;
                height: 36px;
                padding-left: 16px;
              }
            }

            .footer-mailmagazine-submit {
              width: 48px;
              height: 48px;
              background: $white url('/assets/img/common/icon_link.svg') no-repeat center center;
              border: 0;
              border-radius: 0;
              cursor: pointer;

              @media only screen and (max-width: $bp01) {
                width: 36px;
                height: 36px;
                background-size: 15px 6px;
              }
            }
          }
        }

        .footer-social {
          display: flex;

          @media only screen and (max-width: $bp01) {
            justify-content: flex-end;
          }

          .footer-social-item {
            &+.footer-social-item {
              margin-left: 1px;
            }

            .footer-social-item-link {
              .footer-social-item-img {
                width: 48px;
              }
            }
          }
        }
      }
    }

    .footer-list {
      display: flex;
      justify-content: space-between;

      @media only screen and (max-width: $bp01) {
        flex-wrap: wrap;
      }

      .footer-item {
        width: 25%;
        padding-right: 40px;
        box-sizing: border-box;

        @media only screen and (max-width: $bp01) {
          width: 50%;
          margin-bottom: 40px;
          padding-right: 24px;
        }

        .footer-link {
          font-size: 1.2rem;
          font-feature-settings: 'palt';
          font-weight: bold;
          letter-spacing: 0.05em;
          display: block;
          transition: opacity 250ms $easeOutCubic;

          @media only screen and (max-width: $bp01) {
            font-size: 1.0rem;
          }

          &:hover{
            opacity: 0.5;
            transition: opacity 250ms $easeOutCubic;
          }

          &+.footer-link {
            margin-top: 12px;

            @media only screen and (max-width: $bp01) {
              margin-top: 8px;
            }
          }

          &.is-sub {
            font-weight: normal;
          }
        }
      }
    }
  }
}

// .footer {
//   background: url(/assets/img/common/bg_pattern_line01.png) repeat center top
//     #fff;
//
//   position: relative;
//   z-index: 99;
//
//   @media only screen and (max-width: $bp01) {
//     background: none;
//   }
// }
//
// .footer-contents {
//   width: 100%;
// }
//
// .footer-inner {
//   max-width: 1120px;
//   margin: 0 auto;
//   padding: 110px 0 110px 80px;
//   display: flex;
//   align-items: stretch;
//   position: relative;
//
//   @media only screen and (max-width: 1000px) {
//     display: block;
//   }
//
//   @media only screen and (max-width: $bp01) {
//     padding: 0;
//     display: block;
//     width: 100%;
//     padding: 0;
//   }
// }
//
// .footer-block {
//   position: relative;
//   flex: 0 0 420px;
//
//   @media only screen and (max-width: 1200px) {
//     flex: 0 0 220px;
//   }
// }
//
// .footer-logo {
//   @media only screen and (max-width: 1000px) {
//     margin-bottom: 50px;
//   }
// }
//
// .footer-logo-link {
// }
//
// .footer-logo-img {
//   width: 146px;
//   height: auto;
// }
//
// .footer-copyright {
//   position: absolute;
//   bottom: 110px;
//   left: 80px;
//   font-size: 1.1rem;
//
//   @media only screen and (max-width: 1000px) {
//     position: relative;
//     bottom: 0;
//     left: 0;
//   }
//
//   @media only screen and (max-width: $bp01) {
//     background-color: #2e2f30;
//     text-align: center;
//     position: relative;
//     font-size: 0.93rem;
//     padding: 18px 0;
//     display: block;
//     color: #fff;
//   }
// }
//
// .footer-list {
//   display: flex;
//   flex-wrap: wrap;
//   flex: 1 1 auto;
//
//   @media only screen and (max-width: 1000px) {
//     margin-bottom: 30px;
//   }
//
//   @media only screen and (max-width: $bp01) {
//     background-color: #fff;
//     justify-content: center;
//     padding: 25px 0;
//     margin-bottom: 0;
//   }
// }
//
// .footer-item {
//   flex: 0 0 140px;
//
//   @media only screen and (max-width: 1000px) {
//     flex: 0 0 132px;
//   }
//
//   @media only screen and (max-width: $bp01) {
//     flex: 0 0 auto;
//     margin: 0 20px;
//   }
// }
//
// .footer-link {
//   font-size: 1.28rem;
//   font-weight: bold;
//   display: block;
//   margin-bottom: 15px;
//   .inner {
//     position: relative;
//     display: inline-block;
//     overflow: hidden;
//   }
//   .bar {
//     background-color: #000;
//     transform-origin: 0 0;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: 1px;
//     transform: translateX(-110%);
//   }
//
//   @media only screen and (max-width: $bp01) {
//     font-size: 1.4rem;
//     font-weight: normal;
//     white-space: nowrap;
//     margin-bottom: 0;
//     display: inline-block;
//   }
//
//   & + & {
//     margin-top: 30px;
//
//     @media only screen and (max-width: $bp01) {
//       margin-bottom: 0;
//     }
//   }
//
//   &.is-sub {
//     font-weight: normal;
//     font-size: 1.2rem;
//     margin-bottom: 10px;
//
//     & + & {
//       margin-top: 10px;
//     }
//   }
// }
