<!-- ************************************************************
//  index-rectuit, index-news
// ************************************************************ -->
<div class="section index-column">
  <div class="bg parallax" data-ease=".05" data-max="250">
    <div class="bg-inner parallax-inner"></div>
  </div>
  <div class="index-column-inner parallax2" data-ease=".08" data-max="120">
    <div class="parallax-inner">
      <div class="index-recruit">
          <div class="section-head">
            <p class="section-head-lead">Recruitment</p>
            <h2 class="section-head-title">採用情報</h2>
          </div>

          <div class="index-recruit-inner">
            <div class="index-recruit-img parallax3 parallaxOh" data-ease=".12" data-max="20">
              <div class="parallax-inner">
                <img src="/assets/img/index/img_recruit.jpg" alt="" class="index-recruit-img-item">
              </div>
            </div>
            <div class="btn-block">
              <a href="" class="btn btn-primary is-blank">
                <div class="bg"></div>
                <p>採用情報はこちら</p>
              </a>
            </div>
          </div>
      </div>
      <div class="index-news">
          <div class="section-head">
            <p class="section-head-lead">News</p>
            <h2 class="section-head-title">ニュース</h2>
          </div>

          <div class="index-news-inner">
            <ul class="index-news-list">
              <li class="index-news-item">
                <div class="index-news-head">
                  <p class="index-news-date">2020.09.15</p>
                  <p class="category">プレスリリース</p>
                </div>
                <a href="" class="index-news-text"><p>最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始<p><i class="arrow"></i></a>
              </li>
              <li class="index-news-item">
                <div class="index-news-head">
                  <p class="index-news-date">2020.09.15</p>
                  <p class="category">プレスリリース</p>
                </div>
                <a href="" class="index-news-text"><p>最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始<p><i class="arrow"></i></a>
              </li>
              <li class="index-news-item">
                <div class="index-news-head">
                  <p class="index-news-date">2020.09.15</p>
                  <p class="category">プレスリリース</p>
                </div>
                <a href="" class="index-news-text"><p>最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始<p><i class="arrow"></i></a>
              </li>
              <li class="index-news-item">
                <div class="index-news-head">
                  <p class="index-news-date">2020.09.15</p>
                  <p class="category">プレスリリース</p>
                </div>
                <a href="" class="index-news-text"><p>最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始<p><i class="arrow"></i></a>
              </li>
              <li class="index-news-item">
                <div class="index-news-head">
                  <p class="index-news-date">2020.09.15</p>
                  <p class="category">プレスリリース</p>
                </div>
                <a href="" class="index-news-text"><p>最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始<p><i class="arrow"></i></a>
              </li>
            </ul>

            <div class="btn-block">
              <a href="" class="btn btn-primary">
                <div class="bg"></div>
                <p>最新情報はこちら</p>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
