<!-- ************************************************************
//  index-about
// ************************************************************ -->
<div class="section index-about parallax2" data-ease=".05" data-max="220">
  <div class="parallax-inner">
    <h2 class="index-about-lead">挑戦に寄り添い勝利に導く、<br>「戦友」的パートナー。</h2>
    <p class="index-about-text">吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。<br>吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。</p>
    <div class="btn-block">
      <a href="/" class="btn btn-primary">
        <div class="bg"></div>
        <p>詳しく見る</p>
      </a>
    </div>
  </div>
</div>
