<!-- ************************************************************
//  index-solution
// ************************************************************ -->
<div class="section index-solution">
  <div class="bg parallax" data-ease=".05" data-max="270">
    <div class="bg-inner parallax-inner"></div>
  </div>
  <div class="index-solution-inner tabWrap parallax2" data-ease=".08" data-max="120">
    <div class="parallax-inner">
      <div class="section-head">
        <p class="section-head-lead">
          <img src="/assets/img/index/tl_solution.svg" alt="Solution" class="section-head-lead-img">
        </p>
        <h2 class="section-head-title">ソリューション</h2>
      </div>
      <div class="index-solution-head">
        <h3 class="index-solution-lead">チェンジマネジメントの<br>実行に徹底的に<br class="sp">伴走する</h3>
        <p class="index-solution-text">吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。吾輩は猫である。名前はまだない。どこで生まれたかとんと見当がつかぬ。</p>
      </div>
      <nav class="index-solution-tab whitebg">
        <div class="index-solution-tab-item tabbtn is-active">
          <span class="index-solution-tab-btn">ソリューション紹介</span>
          <div class="base_bg"></div>
          <div class="bg"></div>

        </div>
        <div class="index-solution-tab-item tabbtn">
          <span class="index-solution-tab-btn">業界別ソリューション</span>

          <div class="base_bg"></div>
          <div class="bg"></div>
        </div>
      </nav>
      <div class="index-solution-contents whitebg">
        <div class="index-solution-contents-inner">
          <ul class="index-solution-list is-active tabContents">
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution01.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">事業開発</p>
                <p class="index-solution-title text">事業計画策定・業務戦略立案</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution02.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">事業開発</p>
                <p class="index-solution-title text">業務プロセス改善</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution03.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">システム開発</p>
                <p class="index-solution-title text">ITコンサルティング</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution04.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">開発支援</p>
                <p class="index-solution-title text">アウトソーシング</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution05.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">AI・IoT</p>
                <p class="index-solution-title text">AI・アナリティクス</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution06.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">自社パッケージ</p>
                <p class="index-solution-title text">Odooコンサルティング</p>
              </a>
            </li>
          </ul>
          <ul class="index-solution-list tabContents">
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution01.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">事業開発</p>
                <p class="index-solution-title text">事業計画策定・業務戦略立案</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution02.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">事業開発</p>
                <p class="index-solution-title text">業務プロセス改善</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution03.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">システム開発</p>
                <p class="index-solution-title text">ITコンサルティング</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution04.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">開発支援</p>
                <p class="index-solution-title text">アウトソーシング</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution05.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">AI・IoT</p>
                <p class="index-solution-title text">AI・アナリティクス</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link HoverImg">
                <div class="index-solution-img parallaxImg parallaxOh" data-ease=".05" data-max="12">
                  <div class="bg-inner parallax-inner">
                  <img src="/assets/img/index/img_solution06.jpg" alt="" class="index-solution-img-item">
                  </div>
                </div>
                <p class="category is-bg text">自社パッケージ</p>
                <p class="index-solution-title text">Odooコンサルティング</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-block">
          <a href="/" class="btn btn-primary">
            <div class="bg"></div>
            <p>ソリューション一覧へ</p>
          </a>
        </div>
      </div>
    </div>
</div>
</div>
