<!-- ************************************************************
//  index-contact
// ************************************************************ -->
<div class="section index-contact">
  <div class="index-contact-inner">
    <div class="index-contact-item">
      <div class="index-contact-img"><img src="/assets/img/common/icon_recruit.svg" alt=""></div>
      <h2 class="index-contact-title">採用情報</h2>
      <p class="index-contact-title-en">Recruit</p>
      <p class="index-contact-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。またそのなかでいっしょになったたくさん</p>
      <div class="btn-block">
        <div class="btn-primary is-blank wht">
          <div class="bg"></div>
          <p>Recruit Site</p>
        </div>
      </div>
    </div>

    <div class="index-contact-item">
      <div class="index-contact-img"><img src="/assets/img/common/icon_contact.svg" alt=""></div>
      <h2 class="index-contact-title">お問い合わせ</h2>
      <p class="index-contact-title-en">Contact</p>
      <p class="index-contact-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。またそのなかでいっしょになったたくさん</p>
      <div class="btn-block">
        <div class="btn-primary wht">
          <div class="bg"></div>
          <p>Contact Us</p>
        </div>
      </div>
    </div>
  </div>
</div>