<!-- ************************************************************
//  index-kv
// ************************************************************ -->
<div class="section index-kv">
  <div class="index-kv-inner def">
    <h1 class="index-kv-title">
      <img src="/assets/img/index/catch.svg" alt="One Will to Win" class="index-kv-title-img">
    </h1>
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
  </div>
  <div class="index-kv-inner line">
    <h1 class="index-kv-title">
      <img src="/assets/img/index/catch_line.svg" alt="One Will to Win" class="index-kv-title-img">
    </h1>
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
  </div>
</div>

<div class="section index-kv-news">
  <div class="index-kv-news-inner">
    <a class="index-kv-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
      <p class="index-kv-news-date">2020.09.15</p>
      <p class="index-kv-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
    </a>

    <div class="btn-block">
      <a href="/" class="btn-primary">
        <div class="bg"></div>
        <p>View All</p>
      </a>
    </div>
  </div>
</div>