<!-- ************************************************************
//  index-kv
// ************************************************************ -->
<div class="section index-kv">
  <div class="index-kv-inner def">
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
    <h1 class="index-kv-title font-futura-md">One Will to Win</h1>
  </div>
  <div class="index-kv-inner line">
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
    <h1 class="index-kv-title font-futura-md">One Will to Win</h1>
  </div>
</div>
