<!-- ************************************************************
//  index-kv
// ************************************************************ -->
<div class="section index-kv">
  <div class="index-kv-inner def">
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
    <h1 class="index-kv-title">
      <img src="/assets/img/index/catch.svg" alt="One Will to Win" class="index-kv-title-img">
    </h1>
  </div>
  <div class="index-kv-inner line">
    <h2 class="index-kv-lead">勝利までの旗を振る。</h2>
    <h1 class="index-kv-title">
      <img src="/assets/img/index/catch_line.svg" alt="One Will to Win" class="index-kv-title-img">
    </h1>
  </div>
</div>

<div class="scroll-btn">
  <div class="bar2"></div>
  <div class="bar"></div>
</div>
