<!-- ************************************************************
//  index-casestudy
// ************************************************************ -->
<div class="section index-casestudy">
  <div class="index-casestudy-inner">
    <div class="section-head">
      <p class="section-head-lead">Case Study</p>
      <h2 class="section-head-title">ケーススタディ</h2>
    </div>
    <ul class="index-casestudy-list">
      <li class="index-casestudy-item">
        <a href="" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy01.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="category">通信</p>
          <h3 class="index-casestudy-title">基幹システム群刷新に伴うプログラム・マネージメント・オフィス支援</h3>
          <p class="index-casestudy-name">KDDIエンジニアリング様</p>
        </a>
      </li>
      <li class="index-casestudy-item">
        <a href="" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy02.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="category">通信</p>
          <h3 class="index-casestudy-title">基幹システム群刷新に伴うプログラム・マネージメント・オフィス支援</h3>
          <p class="index-casestudy-name">KDDIエンジニアリング様</p>
        </a>
      </li>
      <li class="index-casestudy-item">
        <a href="" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy03.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="category">通信</p>
          <h3 class="index-casestudy-title">基幹システム群刷新に伴うプログラム・マネージメント・オフィス支援</h3>
          <p class="index-casestudy-name">KDDIエンジニアリング様</p>
        </a>
      </li>
    </ul>

    <div class="btn-block is-right">
      <a href="" class="btn btn-primary">
        <div class="bg"></div>
        <p>もっと見る</p>
      </a>
    </div>
  </div>
</div>
