<!-- ************************************************************
//  index-solution
// ************************************************************ -->
<div class="section index-solution">
  <div class="index-solution-inner">
    <div class="index-solution-head">
      <h2 class="section-head-title-en">Solution</h2>
      <h3 class="index-solution-lead">チェンジマネジメントの<br>実行に徹底的に伴走する</h3>
      <p class="index-solution-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。またそのなかでいっしょになったたくさんのひとたち、</p>

      <div class="index-solution-bg-en parallaxImg" data-ease=".05" data-max="100">
        <div class="parallax-inner">
          <div class="index-solution-bg-en-inner"></div>
        </div>
      </div>
    </div>

    <div class="index-solution-head-img parallaxImg parallaxOh" data-ease=".05" data-max="75">
      <div class="index-solution-head-img-inner parallax-inner""></div>
    </div>

    <div class="index-solution-list tabWrap">
      <div class="index-solution-list-bg parallax" data-ease=".05" data-max="50">
        <div class="index-solution-list-bg-inner parallax-inner"></div>
      </div>

      <nav class="index-solution-tab">
        <div class="index-solution-tab-item tabbtn is-active">
          <span class="index-solution-tab-btn">ソリューション紹介</span>
        </div>
        <div class="index-solution-tab-item tabbtn">
          <span class="index-solution-tab-btn">業界別ソリューション</span>
        </div>
      </nav>

      <div class="index-solution-contents">
        <div class="index-solution-contents-inner">
          <ul class="index-solution-list is-active tabContents">
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution01.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">事業計画策定・業務戦略立案</p>
                <p class="category wht">事業開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution02.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">業務プロセス改善</p>
                <p class="category wht">事業開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution03.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">ITコンサルティング</p>
                <p class="category wht">システム開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution04.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">アウトソーシング</p>
                <p class="category wht">開発支援</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution05.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">AI・アナリティクス</p>
                <p class="category wht">AI・IoT</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution06.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">Odooコンサルティング</p>
                <p class="category wht">自社パッケージ</p>
              </a>
            </li>
          </ul>

          <ul class="index-solution-list tabContents">
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution01.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">事業計画策定・業務戦略立案</p>
                <p class="category wht">事業開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution02.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">業務プロセス改善</p>
                <p class="category wht">事業開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution03.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">ITコンサルティング</p>
                <p class="category wht">システム開発</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution04.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">アウトソーシング</p>
                <p class="category wht">開発支援</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution05.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">AI・アナリティクス</p>
                <p class="category wht">AI・IoT</p>
              </a>
            </li>
            <li class="index-solution-item tabContentsItem">
              <a href="/" class="index-solution-link">
                <div class="index-solution-img">
                  <img src="/assets/img/index/img_solution06.jpg" alt="" class="index-solution-img-item">
                </div>
                <p class="index-solution-title">Odooコンサルティング</p>
                <p class="category wht">自社パッケージ</p>
              </a>
            </li>
          </ul>
        </div>

        <div class="btn-block">
          <a href="/" class="btn-primary wht">
            <div class="bg"></div>
            <p>View All</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>