<!-- ************************************************************
//  index-rectuit, index-news
// ************************************************************ -->
<div class="section index-column">
  <div class="index-column-bg parallax" data-ease=".05" data-max="50">
    <div class="index-column-bg-inner parallax-inner"></div>
  </div>

  <div class="index-column-inner">
    <div class="index-recruit">
      <a class="index-recruit-inner" href="https://jp.pactera.com/careers/" target="_blank">
        <h2 class="index-recruit-logo"><img src="/assets/img/index/logo_recruit.png" alt="pactera Recruit"></h2>
        <h3 class="index-recruit-title">採用情報</h3>

        <p class="index-recruit-lead">
          <img class="pc" src="/assets/img/index/h_recruit_pc.svg" alt="Make your vision reality">
          <img class="sp" src="/assets/img/index/h_recruit_sp.svg" alt="Make your vision reality">
        </p>

        <div class="btn-block">
          <div class="btn-primary is-blank wht">
            <div class="bg"></div>
            <p>Recruit Site</p>
          </div>
        </div>
      </a>
    </div>

    <div class="index-news">
      <h2 class="section-head-title-en wht">News</h2>
      <div class="btn-block">
        <a href="/" class="btn-secondary wht">
          <p>View All</p>
        </a>
      </div>

      <div class="index-news-inner">
        <ul class="index-news-list">
          <li class="index-news-item">
            <a class="index-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
              <div class="index-news-head">
                <p class="index-news-date">2020.09.15</p>
                <p class="category">プレスリリース</p>
              </div>
              <p class="index-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
            </a>
          </li>

          <li class="index-news-item">
            <a class="index-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
              <div class="index-news-head">
                <p class="index-news-date">2020.09.15</p>
                <p class="category">プレスリリース</p>
              </div>
              <p class="index-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
            </a>
          </li>

          <li class="index-news-item">
            <a class="index-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
              <div class="index-news-head">
                <p class="index-news-date">2020.09.15</p>
                <p class="category">プレスリリース</p>
              </div>
              <p class="index-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
            </a>
          </li>

          <li class="index-news-item">
            <a class="index-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
              <div class="index-news-head">
                <p class="index-news-date">2020.09.15</p>
                <p class="category">プレスリリース</p>
              </div>
              <p class="index-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
            </a>
          </li>

          <li class="index-news-item">
            <a class="index-news-link" href="/" aria-label="最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始">
              <div class="index-news-head">
                <p class="index-news-date">2020.09.15</p>
                <p class="category">プレスリリース</p>
              </div>
              <p class="index-news-text">最先端AI技術搭載！高価値ナレッジ・スキルの展開・継承ソリューション、「Pactera X」（パクテラ クロス）のサービス提供を開始</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>