<!-- ************************************************************
//  index-casestudy
// ************************************************************ -->
<div class="section index-casestudy">
  <div class="index-casestudy-inner">
    <div class="index-casestudy-head">
      <h2 class="section-head-title-en">Case Study</h2>

      <div class="btn-block">
        <a href="/" class="btn-secondary">
          <p>View All</p>
        </a>
      </div>
    </div>
  </div>

  <div class="index-casestudy-container swiper-container">
    <ul class="index-casestudy-wrapper swiper-wrapper">
      <li class="index-casestudy-slide swiper-slide">
        <a href="/" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy01.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="index-casestudy-title">基幹システム群刷新に伴うプログラム・マネージメント・オフィス支援</p>
          <p class="category">通信</p>
        </a>
      </li>

      <li class="index-casestudy-slide swiper-slide">
        <a href="/" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy02.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="index-casestudy-title">HealthTech業務における技術支援</p>
          <p class="category">医療機器</p>
        </a>
      </li>

      <li class="index-casestudy-slide swiper-slide">
        <a href="/" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy03.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="index-casestudy-title">大手小売業ショッピングサイトリニューアル</p>
          <p class="category">小売・流通</p>
        </a>
      </li>

      <li class="index-casestudy-slide swiper-slide">
        <a href="/" class="index-casestudy-link">
          <div class="index-casestudy-img">
            <img src="/assets/img/index/img_casestudy04.jpg" alt="" class="index-casestudy-img-item">
          </div>
          <p class="index-casestudy-title">カーナビゲーション開発におけるPMO業務</p>
          <p class="category">自動車</p>
        </a>
      </li>
    </ul>

    <div class="index-casestudy-button">
      <div class="index-casestudy-button-next swiper-button-next"></div>
      <div class="index-casestudy-button-prev swiper-button-prev"></div>
    </div>
  </div>
</div>