<!-- ************************************************************
//  index-about
// ************************************************************ -->
<div class="section index-about">
  <div class="index-about-inner">
    <h2 class="section-head-title-en">Our Values</h2>

    <div class="index-about-head">
      <div class="index-about-img parallaxImg parallaxOh" data-ease=".05" data-max="75">
        <div class="index-about-img-inner parallax-inner"></div>
      </div>
      <h3 class="index-about-lead">挑戦に寄り添い<br class="sp">勝利に導く、<br>｢戦友」的パートナー。</h3>
    </div>

    <div class="index-about-body">
      <div class="index-about-texts">
        <p class="index-about-text">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、<br>うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
        <p class="index-about-text">またそのなかでいっしょになったたくさんのひとたち、ファゼーロとロザーロ、<br>羊飼のミーロや、顔の赤いこどもたち、地主のテーモ、<br>山猫博士のボーガント・デストゥパーゴなど、</p>
        <p class="index-about-text">いまこの暗い巨きな石の建物のなかで考えていると、<br>みんなむかし風なつかしい青い幻燈のように思われます。</p>
      </div>

      <div class="btn-block">
        <a href="/" class="btn-primary">
          <div class="bg"></div>
          <p>View Detail</p>
        </a>
      </div>

      <div class="index-about-bg-en parallaxImg" data-ease=".05" data-max="100">
        <div class="parallax-inner">
          <div class="index-about-bg-en-inner"></div>
        </div>
      </div>
    </div>
  </div>
</div>