@charset "utf-8";

/* --------------------------------------------------------------------------------
*   common
-------------------------------------------------------------------------------- */
@import "./_init/import";
@import "./_init/reset"; // リセットCSS、フォントサイズ sss

/* --------------------------------------------------------------------------------
*   parts
-------------------------------------------------------------------------------- */
@import "./_parts/_common/**/*.scss";
@import "./_parts/_compornents/**/*.scss";

/* --------------------------------------------------------------------------------
*   page
-------------------------------------------------------------------------------- */
#wrapper.id_top {
  position: relative;
  @import "./_page/top/**/*.scss";
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.canvasWrap {
  width: 100%;
  // padding-top: (950/1280) * 100%;
  height: 100vh;
  top: 0;
  position: fixed;

  left: 0;
  pointer-events: none;
  .isDeviceSP & {
    height: calc(100vh + #{57px * 2});
    top: -57px;
  }
  &.absolute {
    position: absolute;
    top: auto;
    // bottom: ;
  }
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.dg.ac {
  z-index: 99 !important;
  display: none !important;
}
